mixin item(link)
  li: a(href='#')= link

nav.active#nav

  ul
    +item('Home')
    +item('Works')
    +item('About')
    +item('Contact')

  button.icon#toggle 
    .line.line1
    .line.line2  

footer 
  .about
    p By unibox - 2024
    .social
      i.fa-brands.fa-telegram(aria-hidden="true")
      p  
        a(href='https://t.me/unibox', target='_blank') t.me/unibox
